
<link rel="stylesheet" href="/css/footer.css">
<br><br><br><br>
<footer>
    <div>
        <p><center>
            Issue Tracker Application by Rishabh Mittal
        </center>
        </p>
    </div>


</footer>